// Normally mainpage styles
 
 /*----------header----------*/

 .header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: vw(75px) 0 0 0;
	z-index: 100;
 }
 	.menu-trigger{
		 text-align: right;
		 button{
			 display: inline-flex;
			width: vw(91px);
			height: vw(91px);
			background-color: #ffabb3;
			border-radius: 50%;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			&:before, &:after{
				display: block;
				content: '';
				width: vw(39px);
				height: vw(5px);
				background: #fff;
				margin-bottom: vw(9px);
				@include mq($max-width: 992px) {
					width: mvw(39px);
					height: mvw(5px);
					margin-bottom: mvw(9px);
				}
			}
			&:after{
				//margin-bottom: 0px;
			}
			@include mq($max-width: 992px) {
				width: mvw(91px);
				height: mvw(91px);
			}
		 }
	 }
.menu{
	position: fixed;
	right: vw(-450px);
	top: 0;
	width: vw(450px);
	background: #ffabb3;
	z-index: 120;
	height: 100%;
	color: #ffffff;
	font-size: vw(33px);
	font-weight: 400;
	line-height: 41.08px;
	box-sizing: border-box;
	padding: 0 vw(111px) 0 vw(50px);
	overflow-y: auto;
	opacity: 0;
	@include transition(all 0.5s);
	ul{
		line-height: 1.2;
		a{
			color: #ffffff;
			//font-size: vw(33px);
			font-weight: 400;
			text-decoration: none;
			display: block;
		}
	}
	&__close{
		padding-top: vw(80px);
		padding-bottom: vw(50px);
		button{
			width: vw(91px);
			height: vw(91px);
			border-radius: 50%;
			background-color: #ffffff;
			color: #ffabb3;
			font-size: vw(63px);
			font-weight: 700;
			@include mq($max-width: 992px) {
				width: mvw(91px);
				height: mvw(91px);
				font-size: mvw(63px);
			}
		}
	}
	&.active{
		right: 0;
		opacity: 1;
	}
	@include mq($max-width: 992px) {
		width: 50vw;
		right: -50vw;
		font-size: mvw(35px);
		padding-bottom: mvw(50px);
	}
}	
.menu__overlay{
	position: fixed;
	background: #fff;
	opacity: 0.7;
	z-index: 99;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	&.active{
		display: block;
	}
}
/*----------end-header----------*/	


/*----------main----------*/
 
 .main{
	@include povh('');
 }
 	.main-image{
		 position: relative;
		 width: 100%;
		 display: flex;
		 align-items: center;
		 height: 100vh;
		 z-index: 2;
		 background-size: contain;
		 background-position: bottom center;
		 background-repeat: no-repeat;
		 background-color: #f0f2f1;
		 @include mq($max-width: 992px) {
			 height: auto;
		 }
		 .container{
			 position: relative;
			 z-index: 2;
		 }
		 &__img{
			 position: absolute;
			 bottom: 0;
			 left: 50%;
			 transform: translateX(-50%);
			 img{
				 width: vw(700px);
				 max-width: 90vh;
				 display: block;
				 @include mq($max-width: 992px) {
					 width: 100%;
					 max-width: 80vh;
					 margin: 0 auto;
				 }
			 }
			 @include mq($max-width: 992px) {
				 width: 80%;
				 text-align: center;
			 }
		 }
		 &__logo{
			 display: block;
			 img{
				 width: vw(214px);
			 }
		 }
		 &__title{
			color: #fe7b87;
			font-size: vw(103px);
			line-height: 0.8;
			position: relative;
			z-index: 3;
			width: auto;
			text-align: justify;
			font-weight: 900;
			float: right;
			padding: vw(25px) vw(45px) vw(45px) vw(35px);
			&:before, &:after{
				content: '';
				width: vw(66px);
				height: vw(63px);
				border: vw(20px) solid #b7b7b7;
				border-right: none;
				border-bottom: none;
				position: absolute;
				top: 0;
				left: 0;
				box-sizing: content-box;
				@include mq($max-width: 992px) {
					border-width: mvw(20px);
				}
			}
			&:after{
				left: auto;
				right: 0;
				bottom: 0;
				top: auto;
				border: vw(20px) solid #b7b7b7;
				border-left: none;
				border-top: none;
				@include mq($max-width: 992px) {
					border-width: mvw(20px);
				}
			}
			@include mq($max-width: 992px) {
				margin-bottom: mvw(315px);
				margin-top: mvw(155px);
				padding: mvw(25px) mvw(45px) mvw(45px)  mvw(35px);
				font-size: mvw(90px);
			}
		 }
		 &__button{
			 margin-top: vw(45px);
			 .button{
				color: #000;
				box-shadow: vw(3px) vw(3px) vw(3px) rgba(22, 22, 22, 0.44);
				border-radius: vw(35px);
				border: vw(7px) solid #fe7b87;
				background: #ffffff;
				padding:vw(7px) vw(50px);
				width: auto;
			 }
			 @include mq($max-width: 992px) {
				display: none;
			}
		 }
	 }
	 	.logo-page{
			 position: absolute;
			 bottom: vw(-80px);
			 left: vw(120px);
			width: vw(314px);
			height: vw(314px);
			box-shadow: vw(5px) vw(-3px) vw(9px) vw(1px) rgba(1, 1, 1, 0.3);
			background-color: #ffffff;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			img{
				width: vw(218px);
				@include mq($max-width: 992px) {
					width: mvw(218px);
				}
			}
			@include mq($max-width: 992px) {
				width: mvw(314px);
				height: mvw(314px);
				box-shadow: 5px -3px 9px 1px rgba(1, 1, 1, 0.3);
				background-color: #ffffff;
				z-index: 10;
			}
		 }
	.shape-rose{
		background: #ffabb3 url(../img/shape-rose.jpg) no-repeat center top;
		background-size: contain; 
		padding: vw(332px) 0 vw(90px) 0;
		position: relative;
		margin-top: vw(-240px);
		color: #fff;
		@include mq($max-width: 992px) {
			// background: #ffabb3 url(../img/shape-mobile.jpg) no-repeat center top;
			// background-size: 100%;
			// margin-top: -345px;
			// padding-top: 345px;
			padding-bottom: mvw(90px);
		}
		@include mq($max-width: 575px) {
			background: #ffabb3 url(../img/shape-mobile.jpg) no-repeat center top;
			 background-size: 100%;
			 margin-top: mvw(-239px);
			 padding-top: mvw(300px);
		}
		&.shape-gray{
			background: url(../img/shape-rose.jpg) no-repeat center top, #ffabb3  url(../img/shape-gray.png) no-repeat center bottom;
			background-size: contain; 
			@include mq($max-width: 575px) {
				background: #ffabb3 url(../img/shape-mobile.jpg) no-repeat center top;
				 background-size: 100%;
			}
		}
	}
	.text{
		font-size: vw(25px);
		font-weight: 500;
		line-height: 1.7;
		@include mq($max-width: 992px) {
			font-size: mvw(25px);
		}
		h1, h2,h3{
			font-size: vw(62px);
			font-weight: 900;
			line-height: 1.4;
			@include mq($max-width: 992px) {
				font-size: mvw(62px);
			}
		}
		strong{
			font-size: vw(42px);
			display: block;
			font-weight: normal;
			@include mq($max-width: 992px) {
				font-size: mvw(25px);
			}
		}
	}
	.main-slider{
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-image: url(../img/slider-bg.jpg);
		padding: vw(78px) 0 vw(60px);
		.container{
			@include mq($min-width: 1350px) {
				max-width: vw(1320px); 
			}
		}
		@include mq($max-width: 992px) {
			padding: mvw(80px) 0 mvw(49px) 0;
		}
		section{
			display: flex;
			flex-direction: row-reverse;
		}
		&__fixed{
			float: right;
			color: #ffffff;
			font-size: vw(46px);
			font-weight: 900;
			line-height: 0.9;
			max-width: vw(401px);
			box-shadow: vw(3px) vw(-1px) vw(7px) vw(1px) rgba(1, 1, 1, 0.4);
			border-radius: vw(60px) 0 0 vw(60px);
			background-color: #ffabb3;
			padding: vw(30px) vw(140px) vw(30px) vw(5px);
			box-sizing: border-box;
			margin-bottom: vw(100px);
			@include mq($max-width: 992px) {
				display: none;
			}
		}
		&__item{
			display: block !important;
			color: #000000;
			font-size: vw(25px);
			font-weight: 500;
			h2,h3,h1{
				font-size: vw(62px);
				font-weight: 900;
				letter-spacing: 0.31px;
				@include mq($max-width: 992px) {
					font-size: mvw(63px);
				}
			}
			@include mq($max-width: 992px) {
				font-size: mvw(38px);
			}
		}
		&__numb{
			color: #000000;
			font-size: vw(394px);
			font-weight: 700;
			line-height: 0.9;
			padding-left: vw(30px);
			@include mq($max-width: 992px) {
				display: none;
			}
		}
		.slick-dots{
			text-align: center;
			padding-top: vw(208px);
			@include mq($max-width: 992px) {
				padding-top: mvw(53px);
			}
			li{
				display: inline-block;
				margin: 0 vw(5px);
				button{
					width: vw(23px);
					height: vw(23px);
					background-color: #fe7b87;
					border-radius: 50%;
					@include hide-text;
					box-sizing: border-box;
					border: vw(3px) solid #fe7b87;
					@include mq($max-width: 992px) {
						width: mvw(23px);
						height: mvw(23px);
						margin: 0 mvw(2.5px);
					}
				}
				&.slick-active{
					button{
						background: none;
					}
				}
			}
		}
	}
	.food-text{
		background: #f4f5f7;
		padding: vw(114px) 0 0 0;
		text-align: justify;
		color: #000000;
		font-size: vw(25px);
		font-weight: 500;
		@include mq($max-width: 992px) {
			padding-top: 0;
			text-align: justify;
			font-size: mvw(38px);
			padding-bottom: mvw(100px);
		}
		h3,h2,h4,h5,h6{
			color: #fe7b87;
			font-size: vw(63px);
			font-weight: 900;
			letter-spacing: 0.31px;
			@include mq($max-width: 992px) {
				font-size: mvw(63px);
			}
		}
		h3{
			color: #000;
		}
		img{
			width: 100%;
		}
		p{
			line-height: 1.44;
		}
		&__pt{
			padding-top: vw(125px);
		}
		.food-text__sport{
			width: 117%;
			float: left;
		}
	}
	.menu-slider{
		background: #ffabb3;
		padding: vw(29px) 0 vw(150px) 0;
		.title{
			color: #fff;
		}
		&__block{
			background-color: #ffffff;
			background: url(../img/patern.png) repeat;
			padding: vw(28px) vw(0px) vw(0px) vw(0px) ;
			box-shadow: vw(-4px) 0 vw(10px) rgba(22, 22, 22, 0.51);
			border-radius: vw(60px);
			position: relative;
		}
		&__title{
			color: #fe7b87;
			font-size: vw(42px);
			font-weight: 700;
			text-align: center;
			padding-bottom: vw(15px);
			@include mq($max-width: 992px) {
				font-size: mvw(63px);
			}
		}
		&__item{
			padding: 0 vw(89px) vw(100px);
		}
		&__section{
			box-shadow: vw(-4px) 0 vw(10px) rgba(22, 22, 22, 0.51);
			border-radius: vw(60px);
			background-color: #f4f5f7;
			padding: vw(110px) vw(130px) vw(20px) vw(130px);
			color: #000000;
			font-size: vw(29px);
			font-weight: 500;
			position: relative;
			h6{
				font-weight: 900;
				color: #fe7b87;
				font-size: vw(29px);
				@include mq($max-width: 992px) {
					font-size: mvw(63px);
				}
			}
			p{
				padding-bottom: vw(30px);
			}
			section{
				border: vw(3px) solid #ffabb3;
				padding: vw(36px);
				margin-top: vw(70px);
			}
			@include mq($max-width: 992px) {
				font-size: mvw(32px);
			}
		}
		.slick-arrow{
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			width: vw(56px);
			height: vw(56px);
			border-radius: 50%;
			background-color: #fe7b87;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: vw(22px);
			font-size: 0;
			color: #fff;
			cursor: pointer;
			z-index: 10;
			&:before{
				content: '<';
				font-size: vw(29px);
			}
			&.slick-prev{
				left: vw(22px);
				right: auto;
				&:before{
					content: '>';
				}
			}
		}
		&__trigger{
			color: #000000;
			font-size: mvw(42px);
			font-weight: 500;
			line-height: 0.9;
			box-shadow: mvw(-4px) 0 mvw(10px) rgba(22, 22, 22, 0.51);
			border-radius: mvw(52px);
			background-color: #ffffff;
			margin: mvw(30px) 0 0 0;
			display: flex;
			justify-content: center;
			height: mvw(103px);
			position: relative;
			align-items: center;
			cursor: pointer;
		}
		&__content{
			display: none;
			padding-top:  mvw(30px);
		}
		&__plus{
			width: mvw(72px);
			height: mvw(72px);
			box-shadow: mvw(-6px) 0 mvw(5px) rgba(22, 22, 22, 0.49);
			background-color: #ffabb3;
			border-radius: 50%;
			color: #ffffff;
			font-size: mvw(42px);
			font-weight: 900;
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			top: 50%;
			left: mvw(25px);
			transform: translateY(-50%);
		}
	}
	.title{
		font-size: vw(63px);
		font-weight: 900;
		text-align: center;
		padding-bottom: vw(15px);
		@include mq($max-width: 992px) {
			font-size: mvw(63px);
		}
	}
	.before-after{
		padding: vw(240px) 0 vw(210px) 0;
		@include mq($max-width: 992px) {
			padding: mvw(40px) 0 mvw(70px) 0;
			background: #f4f5f7;
		}
		img{
			width: 100%;
		}
		section{
			img{
				width: vw(74px);
			}
		}
		&__slider{
			padding:  0 vw(190px) 0 vw(100px);
		}
		h4{
			color: #fe7b87;
			font-size: vw(46px);
			font-weight: 700;
			padding-bottom: vw(8px);
			@include mq($max-width: 992px) {
				font-size: mvw(63px);
			}
		}
		&__item{
			padding-bottom: vw(5px);
			display: flex;	
			p{
				color: #fe7b87;
				font-size: vw(29px)	;
				font-weight: 400;
				@include mq($max-width: 992px) {
					font-size: mvw(37px);
				}
			}
			section{
				border-radius: vw(60px);
				background-color: #f4f5f7;
				display: flex;
				//flex-direction: row-reverse;
				padding: vw(24px)  vw(100px);
				text-align: center;
				color: #fe7b87;
				font-size: vw(29px);
				font-weight: 700;
				figure{
					width: vw(100px);
				}
				@include mq($max-width: 992px) {
					width: 100%;
					font-size: mvw(49px);
					padding-bottom: mvw(80px);
					padding-top: mvw(70px);
					figure{
						width: auto;
					}
					img{
						display: block;
						margin: 0 auto;
						width: mvw(125px);
					}
				}
			}
		}
		.slick-arrow{
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			width: vw(56px);
			height: vw(56px);
			border-radius: 50%;
			background-color: #fe7b87;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: vw(22px);
			font-size: 0;
			color: #fff;
			cursor: pointer;
			z-index: 10;
			&:before{
				content: '<';
				font-size: vw(29px);
				@include mq($max-width: 992px) {
					font-size: mvw(29px);
				}
			}
			&.slick-prev{
				left: vw(22px);
				right: auto;
				&:before{
					content: '>';
				}
			}
			@include mq($max-width: 992px) {
				width: mvw(56px);
				height: mvw(56px);
			}
		}
	}
	.video{
		padding: vw(85px) 0 vw(102px) 0;
		background: #ffabb3;
		@include mq($max-width: 992px) {
			padding: mvw(70px) 0;
		}
		&__slider{
			padding:  0 vw(100px);
		}
		.title{
			color: #fff;
		}
		iframe{
			width: 100%;
			height: vw(787px);
		}
		.slick-arrow{
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			width: vw(56px);
			height: vw(56px);
			border-radius: 50%;
			background-color: #fff;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: vw(0px);
			font-size: 0;
			color: #ffabb3;
			cursor: pointer;
			z-index: 10;
			&:before{
				content: '<';
				font-size: vw(29px);
				@include mq($max-width: 992px) {
					font-size: mvw(29px);
				}
			}
			&.slick-prev{
				left: vw(0px);
				right: auto;
				&:before{
					content: '>';
				}
			}
			@include mq($max-width: 992px) {
				width: mvw(56px);
				height: mvw(56px);
			}
		}
	}
	.contact{
		padding: vw(150px) 0 vw(102px) 0;
		color: #fe7b87;
		background: #f2f0f0;
		.container{
			@include mq($min-width: 1200px) {
					max-width: vw(1210px); 
			}
		}
		&__images{
			display: flex;
			justify-content: center;
			padding-bottom:vw(60px);
			padding-top: vw(10px);
			figure{
				width: vw(172px);
				height: vw(172px);
				border: vw(8px) solid #fe7b87;
				background-color: #f4f5f7;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 50%;
				margin: 0 vw(25px);
				margin-bottom: vw(42px);
				text-align: center;
				img{
					width: 60%;
					display: block;
					margin: 0 auto;
				}
				@include mq($max-width: 992px) {
					width: mvw(218px);
					height: mvw(218px);
					border-width: mvw(8px );
					margin-bottom: mvw(70px);
					img{
						width: mvw(111px);
					}
				}
			}
			@include mq($max-width: 992px) {
				flex-wrap: wrap;
			}
		}
		&__form-input{
			padding-bottom: vw(24px);
			display: block;
			text-align: left;
			input{
				width: 100%;
				height: vw(83px);
				border-radius: vw(42px);
				border: vw(4px) solid #fe7b87;
				text-align: center;
				color: #fe7b87;
				font-size: vw(29px);
				font-weight: 900;
				background: none;
				@include mq($max-width: 992px) {
					font-size: mvw(29px);
					height: mvw(83px);
					border-width: mvw(4px);
				}
			}
			@include mq($max-width: 992px) {
				padding-bottom: mvw(25px);
			}
		}
		.button{
			@include mq($max-width: 992px) {
				width: 100%;
				display: block;
				height: mvw(83px);
				font-size: mvw(29px);
			}
		}
	}
	.gray-text{
		padding: vw(65px) 0 0 0;
		box-shadow: vw(3px) vw(-1px) vw(7px) vw(1px) rgba(1, 1, 1, 0.4);
		background-color: #f4f5f7;
		color: #000000;
		font-size: vw(29px);
		strong{
			font-weight: 500;
			color: #fe7b87;
		}
		h2,h1,h3,h4{
			color: #fe7b87;
			font-size: vw(63px);
			font-weight: 900;
			line-height: 0.9;
			@include mq($max-width: 992px) {
				font-size: mvw(62px);
				padding-bottom: mvw(10px);
			}
		}
		&__img{
			display: block;
			width: 100%;
			img{
				display: block;
				width: 100%;
			}
			@include mq($max-width: 992px) {
				float: left;
				margin-left: -15px;
			}
		}
		h3{
			color: #000;
		}
		@include mq($max-width: 992px) {
			font-size: mvw(25px);
			padding: mvw(100px) 0 0 0;
		}
		.plus-more{
			a,span{
				color: #ffabb3;
				border-color: #ffabb3;
			}
		}
		&__rose{
			@include mq($max-width: 992px) {
				background: #ffabb3;
				text-align: center;
				padding: mvw(55px) 0;
			}
		}
	}
	.center-bnr{
		img{
			display: block;
			width: 100%;
		}
	}
	.phone-fixed{
		position: fixed;
		left: vw(100px);
		bottom: vw(100px);
		z-index: 100;
		width: vw(180px);
		img{
			width: 100%;
		}
	}
	.catalog{
		padding: vw(75px) 0;
		img{
			width: 100%;
			display: block;
		}
		&__more{
			text-align: left;
			margin-top: vw(20px);
			a{
				padding-left: vw(70px);
				padding-right: vw(70px);
			}
		}
		&__row{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			@include mq($max-width: 992px) {
				justify-content: center;
			}
		}
		&__col{
			width: 32%;
		}
		figure{
			margin-bottom: vw(30px);
			position: relative;
			overflow: hidden;
			figcaption{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: rgba(#fd96a0, 0.7);
				color: #ffffff;
				font-size: vw(38px);
				font-weight: 500;
				opacity: 0;
				@include transition(all 0.5s);
			}
			a{
				text-decoration: none;
			}
			&:hover{
				figcaption{
					opacity: 1;
				}
			}
		}
		.slick-arrow{
			width: mvw(80px);
			height:  mvw(80px);
			border-radius: 50%;
			background-color: #fe7b87;
			margin: 0 mvw(10px);
			font-size: 0;
			color: #fe7b87;
			&:before{
				content: '<';
				color: #fff;
				font-size: mvw(41px);
			}
			&.slick-prev{
				order: 1;
				&:before{
					content: '>';
				}
			}
		}
	}
	.catalog-form{
		position: absolute;
		left: 0;
		bottom: 0;
		padding: vw(30px) 0;
		background: rgba(#fe7b87, 0.8);
		width: 100%;
		@include mq($max-width: 992px) {
			padding: mvw(30px) 0;
		}
		.container{
			display: flex;
			justify-content: center;
			align-items: center;
			@include mq($max-width: 992px) {
				display: block;
				text-align: left;
			}
		}
		input[type=text], input[type=search], input[type=email]{
			width: vw(479px);
			height: vw(69px);
			border-radius: vw(35px);
			background-color: #f6fafd;
			padding: 0 vw(40px);
			border: none;
			color: #b7b7b7;
			font-size: vw(29px);
			font-weight: 500;
			@include mq($max-width: 992px) {
				text-align: center;
				height: mvw(69px);
				width: 100%;
				color: #b7b7b7;
				font-size: mvw(29px);
				font-weight: 500;
				box-shadow: mvw(-6px) 0 mvw(5px) rgba(22, 22, 22, 0.49);
				border-radius: mvw(35px);
			}
		}
		&__input{
			padding-left: vw(70px);
			@include mq($max-width: 992px) {
				padding-left: 0;
				padding-bottom: mvw(25px);
			}
		}
		&__choose{
			color: #f8f9fb;
			font-size: vw(29px);
			font-weight: 700;
			display: flex;
			label{
				display: flex;
				align-items: center;
				padding-left: vw(45px);
			}
			input{
				margin-left: vw(20px);
			}
		}
		.button{
			height: 100%;
			box-shadow: vw(-4px) 0 vw(10px) rgba(22, 22, 22, 0.51);
			border-radius: vw(35px);
			background-color: #b7b7b7;
			padding-left: vw(50px);
			padding-right: vw(50px);
			@include mq($max-width: 992px) {
				height: mvw(69px);
				box-shadow: mvw(-6px) 0 mvw(5px) rgba(22, 22, 22, 0.49);
				border-radius: mvw(35px);
				font-size: mvw(60px);
				line-height: 1;
				padding: 0 mvw(70px);
			}
		}
	}
	.main-image-catalog{
		background-size: contain;
		background-position: bottom center;
		background-repeat: no-repeat;
		background-color: #f0f2f1;
		@include mq($min-width: 993px) {
			background-image: none !important;
		}
		.main-image{
			@include mq($max-width: 992px) {
				min-height: 90vh;
				background: none !important;
			}
		}
	}
/*----------end main----------*/	

	
/*----------footer----------*/
 
 .footer{
	 background: #ffabb3;
	@include povh('');
	text-align: center;
	padding: vw(30px) 0;
 }
 	.social{
		 a{
			 display: inline-block;
			 padding: 0 vw(8px);
			 @include mq($max-width: 992px) {
				 padding: 0 mvw(9px);
			 }
		 }
		 img{
			 max-width: vw(70px);
			 @include mq($max-width: 992px) {
				 max-width: mvw(72px);
			 }
		 }
	 }
	.catalog__modal{
		background: #ffabb3;
		color: #ffffff;
		font-size: vw(31px);
		font-weight: 400;
		padding: vw(115px) vw(155px);
		padding-bottom: 0;
		padding-left: vw(95px);
		h4{
			color: #e7e9e8;
			font-size: vw(75px);
			font-weight: 700;
		}
		h6{
			font-size: vw(38px);
			font-weight: 700;
		}
		h5{
		font-size: vw(54px);
		font-weight: 700;
		}
	}
	.fancybox-close-small, .fancybox-slide--html .fancybox-close-small{
		width: vw(46px);
		height: vw(46px);
		border: 2px solid #ffffff;
		border-radius: 50%;
		color: #f1f3f2;
		font-size: vw(29px);
		font-weight: 900;
		font-weight: 400;
		top: vw(42px);
		right: vw(42px);
		opacity: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
		svg, path{
			display: none;
		}
		&:before{
			content: 'x';
			color: #f1f3f2;
			font-size: vw(29px);
			font-weight: 900;
			line-height: 1;
		}
	}
	.catalog__modal-item{
		direction: rtl;
		text-align: right;
	}
	.catalog__modal-download{
		padding-top: vw(22px);
		a{
			width: vw(183px);
			height: vw(81px);
			display: inline-block;
			box-shadow: vw(-4px) 0 vw(10px) rgba(22, 22, 22, 0.51);
			border-radius: vw(60px) vw(60px) 0 0;
			background-color: #ffffff;
			color: #000000;
			font-size: vw(29px);
			font-weight: 700;
			text-align: center;
			text-decoration: none;
			span{
				display: block;
			}
			img{
				width: vw(24px);
			}
		}
	}
/*----------end footer----------*/