<!-- index.nunjucks -->
{% extends "layout.html" %}

{% block content %}
<!-- phone -->
<a href="tel:1234567890" class="phone-fixed">
    <img src="img/phone-fixed.png" alt="">
</a>
<!-- /phone -->
<!-- banner -->
<div class="main-image-catalog" style="background-image: url(img/catalog-bnr-mobile.jpg) ;" >
<div class="main-image" style="background-image: url(img/catalog-bnr.jpg) ;">
    <div class="container">
        <a href="/" class="main-image__logo hide-mobile"><img src="img/catalog-logo.png" alt=""></a>
        <div class="main-image__title hide-mobile">
                מתכונים
        </div>
        <div class="clear"></div>
    </div>
    <div class="catalog-form">
        <div class="container container-xl">
            <div class="catalog-form__input">
                <input type="text" placeholder="חפש מתכון">
            </div>
            <div class="catalog-form__choose hide-mobile">
                <label for="#"><input type="radio" name="a"><span>הכול</span></label>
                <label for="#"><input type="radio"  name="a"><span>הכול</span></label>
                <label for="#"><input type="radio"  name="a"><span>הכול</span></label>
            </div>
            <div class="catalog-form__button">
                <button class="button">חפש</button>
            </div>
        </div>
    </div>
</div>
</div>
<!-- /banner -->
<!-- catalog -->
<div class="catalog"> 
    <div class="container">
        <div class="catalog__row">
            <div class="catalog__col">
                <figure>
                    <a href="#">
                        <img src="img/catalog1.jpg" alt="">
                    </a>
                    <figcaption>
                        <a href="#catalog-modal" data-fancybox="">
                                הסנביץ׳ 
                                המושלם
                        </a>
                    </figcaption>
                </figure>
            </div>
            <div class="catalog__col">
                <figure>
                    <a href="#">
                        <img src="img/catalog2.jpg" alt="">
                    </a>
                    <figcaption>
                        <a href="#catalog-modal" data-fancybox="">
                                הסנביץ׳ 
                                המושלם
                        </a>
                    </figcaption>
                </figure>
            </div>
            <div class="catalog__col">
                <figure>
                    <a href="#">
                        <img src="img/catalog3.png" alt="">
                    </a>
                    <figcaption>
                        <a href="#catalog-modal" data-fancybox="">
                                הסנביץ׳ 
                                המושלם
                        </a>
                    </figcaption>
                </figure>
            </div>
            <div class="catalog__col">
                <figure>
                    <a href="#">
                        <img src="img/catalog4.png" alt="">
                    </a>
                    <figcaption>
                        <a href="#catalog-modal" data-fancybox="">
                                הסנביץ׳ 
                                המושלם
                        </a>
                    </figcaption>
                </figure>
            </div>
            <div class="catalog__col">
                <figure>
                    <a href="#">
                        <img src="img/catalog5.png" alt="">
                    </a>
                    <figcaption>
                        <a href="#catalog-modal" data-fancybox="">
                                הסנביץ׳ 
                                המושלם
                        </a>
                    </figcaption>
                </figure>
            </div>
            <div class="catalog__col">
                <figure>
                    <a href="#">
                        <img src="img/catalog6.png" alt="">
                    </a>
                    <figcaption>
                        <a href="#catalog-modal" data-fancybox="">
                                הסנביץ׳ 
                                המושלם
                        </a>
                    </figcaption>
                </figure>
            </div>
            <div class="catalog__col">
                <figure>
                    <a href="#">
                        <img src="img/catalog7.png" alt="">
                    </a>
                    <figcaption>
                        <a href="#catalog-modal" data-fancybox="">
                                הסנביץ׳ 
                                המושלם
                        </a>
                    </figcaption>
                </figure>
            </div>
            <div class="catalog__col">
                <figure>
                    <a href="#">
                        <img src="img/catalog8.png" alt="">
                    </a>
                    <figcaption>
                        <a href="#catalog-modal" data-fancybox="">
                                הסנביץ׳ 
                                המושלם
                        </a>
                    </figcaption>
                </figure>
            </div>
            <div class="catalog__col">
                <figure>
                    <a href="#">
                        <img src="img/catalog9.png" alt="">
                    </a>
                    <figcaption>
                        <a href="#catalog-modal" data-fancybox="">
                                הסנביץ׳ 
                                המושלם
                        </a>
                    </figcaption>
                </figure>
            </div>
            <div class="catalog__col">
                <figure>
                    <a href="#">
                        <img src="img/catalog10.png" alt="">
                    </a>
                    <figcaption>
                        <a href="#catalog-modal" data-fancybox="">
                                הסנביץ׳ 
                                המושלם
                        </a>
                    </figcaption>
                </figure>
            </div>
            <div class="catalog__col">
                <figure>
                    <a href="#">
                        <img src="img/catalog11.png" alt="">
                    </a>
                    <figcaption>
                        <a href="#catalog-modal" data-fancybox="">
                                הסנביץ׳ 
                                המושלם
                        </a>
                    </figcaption>
                </figure>
            </div>
            <div class="catalog__col">
                <figure>
                    <a href="#">
                        <img src="img/catalog12.png" alt="">
                    </a>
                    <figcaption>
                        <a href="#catalog-modal" data-fancybox="">
                                הסנביץ׳ 
                                המושלם
                        </a>
                    </figcaption>
                </figure>
            </div>
        </div>
        <div class="catalog__more hide-mobile">
            <a href="#" class="button">לעוד מתכונים >></a>
        </div>
    </div>
</div>
<div class="catalog__modal modal" id="catalog-modal">
    <div class="catalog__modal-item">
           <h4> מאפה לחם מתוק </h4>
          <h6> (30 מנות)</h6> 
           <h5> מצרכים </h5>
          <p>  8 פרוסות לחם קל לבן <br>
            
            6  כפיות מרגרינה דלת קלוריות <br>
            
            60  גרם צימוקים<br>
            
            קליפת לימון או תפוז מגוררת
            
            2 כוסות חלב דל שומן (חצי ליטר)<br>
            
            50 גרם סוכר<br>
            
            2 ביצים גדולות<br>
            
            קורט אגוז מוסקט טחון </p>
          <h5>  אופן הכנה </h5>
           <p> משמנים תבנית אפיה קטנה המכילה ליטר וחצי, <br>
            במעט מן המרגרינה. </p>
    </div>
    <div class="catalog__modal-download">
        <a href="#">
                להורדה
                <span><img src="img/arrow-download.svg" alt=""></span>
        </a>
    </div>
</div>
<!-- /catalog -->
<!-- contact -->
<div class="contact">
    <div class="container">
        <div class="title">צור קשר</div>
        <div class="contact__images">
            <figure>
               <a href="#"> <img src="img/fax.png" alt=""></a>
            </figure>
            <figure>
                    <a href="#"> <img src="img/email.png" alt=""></a>
            </figure>
            <figure>
                    <a href="#"> <img src="img/phone-call.png" alt=""></a>
            </figure>
            <figure>
                    <a href="#"> <img src="img/whatsapp-logo.png" alt=""></a>
            </figure>
        </div>
        <div class="contact__form">
            <div class="contact__form-input"><input type="text" placeholder="שם"></div>
            <div class="contact__form-input"><input type="text" placeholder="טלפון"></div>
            <div class="contact__form-input"><button class="button">שלח</button></div>
        </div>
    </div>
</div>
<!-- /contact -->
{% endblock %}